src/main/resources/xsd/Año.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.cibertec.edu.pe/ws/objects"
           targetNamespace="http://www.cibertec.edu.pe/ws/objects"
           elementFormDefault="qualified">

    <xs:element name="A単oRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a単o" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="A単oResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a単obisiesto" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
