src/main/resources/xsd/Perfecto.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.cibertec.edu.pe/ws/objects"
           targetNamespace="http://www.cibertec.edu.pe/ws/objects"
           elementFormDefault="qualified">

    <xs:element name="PerfectoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="limite" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerfectoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numeroPerfecto" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
